@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

/* Style et positionnement du header */
.navbar {
    display: flex;
    align-items: center;
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #ddd; /* Couleur de la bordure */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Couleur et opacité de l'ombre */
}

/* Liens de la navbar */
.navbar-nav .nav-link {
    color: #575757;
    margin-left: 10px;
}

/* Texte du menu en gras au survol */
.nav-item:hover 
{
 font-weight: bold;
}

/* Style du bouton du burger lorsqu'il est actif */
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
  outline: none; /* Supprimer la bordure d'accentuation lors du focus */
  box-shadow: none; /* Supprimer l'ombre lors du focus */
}
  
/* Styliser l'image du logo principal */
.navbar-brand img {
    height: auto;
    width: 150px;
    margin-right: 2px;
    margin-bottom: 0px;
}

/* Décaler le texte du logo principal vers la droite */
.navbar-brand span {
    color: #272525;
    font-family: 'Lemon', serif;
    font-size:250%;
    margin-left: 1px;
}

/* Styliser l'image du logo médical */
.logo-medical {
    width: 290px;
    height: 100%;
}

/* Image de fond du body */
.body-background {
    background-image: url("images/background.jpg");
}

/* Zoom de la carte de RDV au survol  */
.card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* BC et ombre de la carte de RDV au survol  */
.card-body:hover {
    background-color: #ededf3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Taille de l'images des cartes de RDV */
.card-img-top {
    height: 200px;
    width: 260px;
}

/* Taille du logo "alerte" des cartes de RDV */
.logo-alert {
    width: 30px;
    height: 30px;
    margin-right: 10%;
    margin-top: 2%;
}

.logo-with-title {
    display: flex;
    flex-direction: row;
}

/* Taille police de la description d'une carte de RDV */
 .card-text {
    font-size: 85%;
} 